body {
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Noto Sans', sans-serif;

}

.menu-pie {
  background-color: #F4D03F;
}


.principal {
  background-image: url('../img/sofiarrrt.jpg');
  max-width: 100%;
}

.logo {
  max-width: 50%;
}

.tvnimg {
  width: 35%;
}

.agtvimg {
  width: 50%;
}

.dfimg {
  width: 50%;
  text-align: center;
}

.recipe-img {
  max-width: 100%;
}

.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 400;
  font-size: 30px;
}

.footertext {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 400;
  font-size: 30px;
}

.carousel-indicators{
  margin-top: 50%;
}
.carousel-indicators li {
  background-color: #000000;
}

.titulo-principal {
  font-weight: 700;
  font-size: 40px;
}

.redessociales {
  color: #FFFFFF;
}

.text-me {
  font-weight: 700;
  font-size: 30px;
}


.text-center1 {
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.card-title {
  font-weight: 700;
}


.foto7 {
  width: 70%;
